<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Report a Scam", "Create", "Scams")</li>
                    <li>@Html.ActionLink("Scams Reported Map", "Map", "Scams")</li>
                    <li>@Html.ActionLink("RSS Feed", "Index", "RSS")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        
                        <li class="adminLink" style="display:none;">@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Scam Alert</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script>
        function getPoints() {
            $.ajax({
                async: true,
                type: 'GET',
                url: '/Home/getPoints',
                datatype: "json",
                success: function (points) {
                    if (points > 249) {
                        $(".adminLink").show();
                    }
                }
            }); 
        }
        @{ Boolean isAuthC = User.Identity.IsAuthenticated;}
        var isAuth = "<%=isAuthC%>"
        if (isAuth)
        {
            getPoints();
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
