@model IEnumerable<ScamAlert.Models.ScamReports>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>Scam Reports</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Report
            </th>
            <th>
                Time Posted
            </th>
        </tr>
        @foreach (var item in Model.First().ScamReportss)
        {
            <tr>
                <td width="15%">@Html.DisplayFor(modelItem => item.User.userName)</td>
                <td width="60%">@Html.DisplayFor(modelItem => item.report)</td>
                <td width="25%">@Html.DisplayFor(modelItem => item.timePosted)</td>
            </tr>
        }
    </table>
</div>
<p>@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Add your own report", "CreateScamReport", "ScamReport")
}
    <br />
    @Html.ActionLink("Back to Scam List", "Index", "Home")
</p>